.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  background: rgb(5, 21, 36);
  padding-bottom: 0;
}

.contact-header h2 {
  color: rgb(233, 240, 246);
  font-size: 52px;
}


.contact-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0 10%;
  color: rgb(185, 196, 207);;
  margin-top: 30px;
  margin-bottom: -80px;
}

.contact-extras div {
  display: flex;
  flex-direction: column;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 40px;
}

.contacts .form {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-block: 15px;
  color: rgb(5, 21, 36);
}

.form div input {
  margin-block: 5px;
  padding: 10px 10px;
  border: 1.5px solid rgb(5, 21, 36);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.form div textarea {
  padding: 10px;
  border: 1.5px solid rgb(5, 21, 36);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-block: 5px;
}

.submit-button {
  width: fit-content;
  justify-self: end;
  align-self: flex-end;
  padding: 8px 17px;
  background: rgb(5, 21, 36);
  color: rgb(233, 240, 246);
  cursor: pointer;
  border: 1px solid rgb(233, 240, 246);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.submit-button:hover {
  border: 1px solid rgb(5, 21, 36);
}

.error {
  color: red;
}

@media (max-width: 768px) {
  .contact-header{
    height: 90vh;
  }

  .contact-header h2 {
    font-size: 40px;
  }

  .contact-extras {
    flex-direction: column;
    gap: 40px;
  }

  .contacts .form {
    width: 85%;
  }
}
