.header {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 1s ease;
  position: relative;
  padding-inline: 10%;
  padding-top: 12rem;
  color: #CED2D5;
}

ul {
  list-style: none;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 21, 36, 0.9);
}

.header p,
.header div {
  z-index: 10;
  width: 80%;
  text-align: start;
}

.header p {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(5px);
  z-index: 0;
}

.header-text-container {
  margin-block: 30px;
}

.header-1 {
  font-size: 54px;
}

.header .projects {
  background: transparent;
  outline: transparent;
  border: 2px solid #9A0F07;
  color: #CED2D5;
  padding: 6px 14px;
  cursor: pointer;
  z-index: 10;
  width: fit-content;
  margin-block: 20px;
  font-size: 17px;
  font-weight: 500;
  -o-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.header .projects:hover {
  background: transparent;
  border: 1px solid  rgb(247, 251, 252);
  color:  #7B8494;
}

.header .social-links {
  z-index: 10;
}

.header .social-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header .social-links ul li {
  font-size: 18px;
}

.social-links h3 {
  margin-bottom: 10px;
}
