.home-services-title {
  font-weight: 800;
  color: rgb(7, 24, 40);
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 5%;
}

.values {
  width: 90%;
  margin: 130px auto;
}

.values h2 {
  margin-bottom: 70px;
}

h2 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 40px;
  color: rgb(7, 24, 40);
}

.value-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5%;
}

.value-column {
  width: 300px;
  transition: 300ms ease-in-out;
  -webkit-transition: 300ms ease-in-out;
  -moz-transition: 300ms ease-in-out;
  -ms-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
}

.value-column:hover * {
  color: rgb(219, 223, 226);
}

.value-column::before {
  content: '';
  display: block;
  position: absolute;
  margin-right: 20px;
  width: 320px;
  height: 0;
  margin-top: -20px;
  margin-left: -20px;
  background: rgba(5, 21, 36);
  z-index: -1;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

.value-column:hover::before {
  height: 350px;
}

/*
@keyframes scaleEffect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
} */

.value-column h3 {
  font-size: 26px;
  margin-block: 50px 20px;
}

.value-column span {
  font-size: 22px;
  font-weight: 600;
  opacity: 0;
  animation-fill-mode: both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

.value-column p {
  color: #2b2d34;
}

.image {
  width: 80%;
}

img {
  width: 600px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin: 160px auto;
  gap: 20px;
}

.strategy {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 90%;
  margin: 80px auto;
  gap: 20px;
}

.details p {
  margin-right: 60px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.strategy h2,
.strategy p {
  margin-left: 60px;
}

.strategy p {
  font-size: 18px;
  letter-spacing: 0.5px;
}
