.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(102, 104, 104);
  padding-inline: 7%;
  padding-block: 15px;
  width: 100%;
  z-index: 10000;
  margin: 0;
  top: 10px;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms ease-in-out;
}

.menu-icon {
  display: none;
  top: 15;
  left: 90;
  cursor: pointer;
  border: none;
  background: none;
}

.menu-icon .bar {
  display: block;
  background: #fff;
  margin-bottom: 7px;
  width: 30px;
  height: 3px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.navbar .primary-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar .primary-navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.navbar a {
  color: #fff;
}

.contact-page-color {
  color: rgb(5, 21, 36);
}

/* .navbar ul li a.active::after {
  content: '';
  display: block;
  height: 2px;
  background-color: #9A0F07;
  -ms-transition: width 0.6s ease-in-out, left 0.2s ease-in-out;
  -o-transition: width 0.6s ease-in-out, left 0.2s ease-in-out;
  -webkit-transition: width 0.6s ease-in-out, left 0.2s ease-in-out;
  -moz-transition: width 0.6s ease-in-out, left 0.2s ease-in-out;
  transition: width 0.6s ease-in-out, left 0.2s ease-in-out;
  z-index: 10000;
} */

.navbar ul li a {
  animation-fill-mode: both;
  background: transparent;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 5px 10px;
}

.navbar ul li a:hover {
  color: rgba(5, 21, 36, 0.9);
  background: #fff;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.scrolled {
  position: fixed;
  background-color: rgba(5, 21, 36, 0.9);
  backdrop-filter: blur(8px);
  top: 0;
}

@media (max-width: 798px) {
  .menu-icon {
    display: block;
    z-index: 10000;
  }

  .menu-icon .bar:first-child {
    position: relative;
    transform-origin: 0% 50%;
    transform: rotateY(45deg);
    -webkit-transform: rotateY(45deg);
    -moz-transform: rotateY(45deg);
    -ms-transform: rotateY(45deg);
    -o-transform: rotateY(45deg);
  }

  .navbar .primary-navigation {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(5, 21, 36, 0.9);
    backdrop-filter: blur(5px);
    z-index: 1000;
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

  .navbar .primary-navigation.render-nav {
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

  .primary-navigation ul:first-child {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }

  .primary-navigation ul li a {
    font-size: 24px;
    font-weight: 500;
  }
}
