.services {
  display: block;
  margin: 40px auto;
  height: 80vh;
  padding: 20px;
  overflow-x: hidden;
  color: pink;
}

.carousel-container {
  margin-left: 5%;
}

.carousel-item div {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-1 {
  background-image: url('../assets/programming.jpg');
  height: 300px;
  width: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-2 {
  background-image: url('../assets/html.jpg');
  height: 300px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-3 {
  background-image: url('../assets/team.jpg');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-4 {
  background-image: url('../assets/812.jpg');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-5 {
  background-image: url('../assets/colors.jpg');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-6 {
  background-image: url('../assets/business.jpg');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.item-7 {
  background-image: url('../assets/medium.jpg');
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
