.header {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background-image 1s ease;
  position: relative;
  padding-inline: 7.5%;
  padding-top: 10rem;
  color: #CED2D5;
}

ul {
  list-style: none;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 21, 36, 0.9);
}

.header p,
.header div {
  z-index: 10;
  width: 80%;
  text-align: start;
}

.header p {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: blur(5px);
  z-index: 0;
}

.header-text-container {
  margin-block: 30px;
}


.header-text-container .header-text {
  animation: fadeIn 1s ease-in-out;
  font-size: 26px;
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header-text-cursor {
  margin-left: -15px;
  font-size: 2rem;
  color: #777;
  margin-left: 0.5rem;
  animation: blink 0.7s infinite;
}
  
@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .header {
    height: 90vh;
    padding-top: 10rem;
  }

  .header-1 {
    font-size: 40px;
  }

  .header p,
  .header div {
    width: 86%;
  }
}

@media (max-width: 798px) {
  .header {
    height: 100vh;
    padding-top: 7.5rem;
  }

  .header-1 {
    font-size: 32px;
  }

  .header p,
  .header div {
    width: 95%;
  }
}
